# Gemini API Key (Get from https://aistudio.google.com/)
GEMINI_API_KEY=

# LLM Model Name
LLM_MODEL=gemini-2.0-flash

# TTS Voice (Examples: en-US-ChristopherNeural, en-US-JennyNeural, en-IN-NeerjaNeural, en-IN-PrabhatNeural)
TTS_VOICE=en-US-ChristopherNeural
